
/* purple: #8d7cef */
/* main color: #212225 */
/* font: #e4e5e9 */
/* buttons: #2f3034 */

* {
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #1a1b1f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 50rem;
    height: 60rem;
    padding: 2rem;
    background-color: #212225;
    border-radius: 2rem;
    box-shadow: 1px 1px 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.screen {
    width: 95%;
    height: 25%;
    background-color: #8d7cef;
    border-radius: 3rem;
    box-shadow: 1px 1px 2px black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.screen-text {
    display: inline-block;
    font-size: 4rem;
    width: 100%;
    text-align: right;
    color: #e4e5e9;
}

.placeholder {
    width: 3rem;
    background-color: inherit;
}

.action-section {
    width: 90%;
    display: flex;
    justify-content: center;
}

.numbers {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: 70%;
    height: 70%;
}

.operations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 20rem;
    gap: 1rem;
}

.special-operations {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1rem;
    width: 90%;
    height: 40%;
}

.author {
    font-size: 1rem;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.github {
    width: 3rem;
    height: 3rem;
}

.author span {
    text-align: left;
    width: 20ch;
    color: #e4e5e9;
}

button {
    width: 7rem;
    height: 7rem;
    font-size: 2.3rem;
    border-radius: 50%;
    background-color: #2f3034;
    border: 0;
    color: #e4e5e9;
    box-shadow: 1px 1px 2px black;
}

button:active {
    box-shadow: none;
    background-color: #a292ff;
}

.result {
    background-color: #8d7cef;
}

.clear,
.delete {
    border: 1px solid #8d7cef;
}

.delete {
    background-image: url('./images/icons8-backspace-90.png');
    background-position: center;
    background-size: 4rem auto;
    background-repeat: no-repeat;
}